<div id="fh5co-product">
  <div class="container">
    <div class="row animate-box">
      <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
        <span>Latest</span>
        <h2>Sneakers</h2>
        <!-- <p>Here are the hottest and lastest releases.</p> -->
      </div>
    </div>
  <div class="row">
    <%= render "renders/items/react-element-87-sail" %>
    <%= render "renders/items/react-element-87-black" %>
    <%= render "renders/items/react-element-87-sand" %>
  <div class="row">
    <%= render "renders/items/off-white-jordan-1-chicago" %>
    <%= render "renders/items/off-white-jordan-1-nrg" %>
    <%= render "renders/items/off-white-jordan-1-unc" %>
    <%= render "renders/items/nike-air-max-1-97-sean-wotherspoon" %>
    <%= render "renders/items/nike-spiridon-parra" %>
    <%= render "renders/items/air-max-1-dlx" %>
    <%= render "renders/items/yeezy-boost-350-turtle-dove" %>
    <%= render "renders/items/yeezy-boost-350-tan" %>
    <%= render "renders/items/yeezy-boost-350-pirate-black" %>
    <%= render "renders/items/air-jordan-1-fragment-design" %>
    <%= render "renders/items/air-jordan-1-shattered-backboard" %>
    <%= render "renders/items/air-jordan-1-black-toe" %>
    <%= render "renders/items/off-white-air-presto-og" %>
    <%= render "renders/items/off-white-zoom-fly" %>
    <%= render "renders/items/off-white-air-force-1" %>
    <%= render "renders/items/air-max-180-ultramarine" %>
    <%= render "renders/items/air-max-180-easter-egg" %>
    <%= render "renders/items/air-max-180-cdg-black" %>
    </div>
  </div>
</div>
