<!-- Navbar -->
<div id="page">
<nav class="fh5co-nav" role="navigation">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-xs-2">
        <div id="fh5co-logo"><a href= <%= root_path %>>Shop.</a></div>
      </div>
      <div class="col-md-6 col-xs-6 text-center menu-1">
        <ul>
          <li class="has-dropdown">
            <%= link_to 'Sneakers', product_path %>
          </li>
          <li><%= link_to 'About', about_path %></li>

          <li><%= link_to 'Contact', contact_path %></li>
        </ul>
      </div>
      <div class="col-md-3 col-xs-4 text-right hidden-xs menu-2">
        <ul>
          <li class="has-dropdown">
            <a href="/">User</a>
            <ul class="dropdown">
              <% if user_signed_in? %>
              <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
              <li><%= link_to "Edit account", edit_user_registration_path %></li>
              <% else %>
              <li><%= link_to "Log in", new_user_session_path %></li>
              <li><%= link_to "Sign up", new_user_registration_path %></li>
              <% end %>
            </ul>
          </li>
          <% if user_signed_in? %>
          <li class="shopping-cart"><a href="#" class="cart"><span><small>0</small><i class="fas fa-shopping-cart"></i></span></a></li>
          <% else %>
          <% end %>
        </ul>

      </div>
    </div>

  </div>
</nav>