<h1>Your cart</h1>

<span style="display: none;"><%= var = 0 %></span>
<% @user.items.each do |item| %>
	<div id="items-added">
		<ul>

			<li><%= item.image_url %></li>
			<li><%= item.title %></li>
			<li><%= item.description %></li>
			<li><%= var += item.price %>€</li>
			<button>Remove</button>
			<%= button_to "Remove", remove_from_cart_path(Cart.find_by(item: item).item.id), data: { confirm: "Are you sure?" }, method: :delete, :class=>"btn btn-primary btn-outline btn-lg"  %>
		</ul>
	</div>
<% end %>
<br/>

<div id="total">
	<ul>
		<li>Subtotal <%= var %>€</li>
		<li>Shipping : <%= ship = 24.0 %>€</li>
		<li>Total <%= var + ship %>€</li>
		<button>Place your order</button>
	</ul>
</div>