<div class="formu">
  <div class="formu-text">
		<h1>Your cart:</h1>
<div class="global-cart">
		<span style="display: none;"><%= var = 0 %></span>
		<% @user.items.each do |item| %>
			<div id="items-added">
				<ul>
          <div class="cart_data">
            <li><%= image_tag item.image_url, :class=>"image_resize" %></li>
          </div>
          <div class="cart_data">
      			<li><%= item.title %></li>
          </div>
          <div class="cart_data">
          	<li><%= item.description %></li>
          </div>
          <div class="cart_data">
			      <span style="display: none;"><%= var += item.price %></span>
          </div>
			      <li><%= item.price %>€</li>
		    	<%= button_to "Remove", remove_from_cart_path(Cart.find_by(item: item).item.id), data: { confirm: "Are you sure?" }, method: :delete, :class=>"btn btn-primary btn-outline btn-lg"  %>
		    </ul>
    	</div>
    <% end %>
<br/>

<div id="total">
    <div class="cart_btn_bot">
	<ul>
		<li>Subtotal <%= var %>€</li>
		<li>Shipping : <%= ship = 24.0 %>€</li>
		<li>Total <%= var + ship %>€</li>

		<button class= "btn btn-primary btn-outline btn-lg" ><%= link_to "Place Your Order", new_charge_path %></button>
	</ul>
</div>
		</div>
	</div>
</div>
</div>
