<!DOCTYPE html>
<html>
  <head>
    <title>TeamX</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta charset="utf-8">
  	<meta http-equiv="X-UA-Compatible" content="IE=edge">
  	<title>Shop &mdash; Free Website Template, Free HTML5 Template by gettemplates.co</title>
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<meta name="description" content="Free HTML5 Website Template by gettemplates.co" />
  	<meta name="keywords" content="free website templates, free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive" />
  	<meta name="author" content="gettemplates.co" />
  	<meta property="og:title" content=""/>
  	<meta property="og:image" content=""/>
  	<meta property="og:url" content=""/>
  	<meta property="og:site_name" content=""/>
  	<meta property="og:description" content=""/>
  	<meta name="twitter:title" content="" />
  	<meta name="twitter:image" content="" />
  	<meta name="twitter:url" content="" />
  	<meta name="twitter:card" content="" />
  	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i" rel="stylesheet">
<<<<<<< HEAD
<!-- <<<<<<< HEAD
======= -->
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
<!-- >>>>>>> 732a0d1fa539129c44cace139e5107a57a5a8f88 -->
=======
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
>>>>>>> a8f7a204bbd294e54714338aa66618c856a279f9
  	<!-- Modernizr JS -->
  	<script src="assets/js/modernizr-2.6.2.min.js"></script>
  </head>



  <body>
<<<<<<< HEAD

    <!-- Navbar -->
    <div id="page">
    <nav class="fh5co-nav" role="navigation">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-xs-2">
            <div id="fh5co-logo"><a href="/">Shop.</a></div>
          </div>
          <div class="col-md-6 col-xs-6 text-center menu-1">
            <ul>
              <li class="has-dropdown">
                <a href="product.html">Shop</a>
                <ul class="dropdown">
                  <li><a href="single.html">Single Shop</a></li>
                </ul>
              </li>
              <li><a href="about.html">About</a></li>

              <li><a href="contact.html">Contact</a></li>
            </ul>
          </div>
          <div class="col-md-3 col-xs-4 text-right hidden-xs menu-2">
            <ul>
              <li class="has-dropdown">
                <a href="#">User</a>
                <ul class="dropdown">
                  <% if user_signed_in? %>
                  <li><%= link_to "Your account", "/account" %></li>
                  <li><%= link_to "Edit your account", edit_user_registration_path %></li>
                  <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
                  <% else %>
                  <li><%= link_to "Log in", new_user_session_path %></li>
                  <li><%= link_to "Sign up", new_user_registration_path %></li>
                  <% end %>
                </ul>
              </li>
              <li class="shopping-cart"><a href="#" class="cart"><span><small>0</small><i class="fas fa-shopping-cart"></i></span></a></li>
            </ul>

          </div>
        </div>

      </div>
    </nav>

=======
<%= render "renders/navbar"%>
>>>>>>> a8f7a204bbd294e54714338aa66618c856a279f9

<%= yield %>
<%= render "renders/newsletter" %>
<%= render "renders/footer"%>

    <!-- jQuery -->


    <script src="assets/js/jquery.min.js"></script>
    <!-- jQuery Easing -->
    <script src="assets/js/jquery.easing.1.3.js"></script>
    <!-- Bootstrap -->
    <script src="assets/js/bootstrap.min.js"></script>
    <!-- Waypoints -->
    <script src="assets/js/jquery.waypoints.min.js"></script>
    <!-- Carousel -->
    <script src="assets/js/owl.carousel.min.js"></script>
    <!-- countTo -->
    <script src="assets/js/jquery.countTo.js"></script>
    <!-- Flexslider -->
    <script src="assets/js/jquery.flexslider-min.js"></script>
    <!-- Main -->
    <script src="assets/js/main.js"></script>
  </body>
</html>
